@charset "UTF-8";

* {
    margin: 0;
    padding: 0;

}

html, body {
    background: rgb(56, 54, 54);
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    margin-top: 80px;
    align-items: top;
    justify-content: center;
}

#checkbox-menu {
    position: absolute;
    opacity: 0;
}

label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}

label span{
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #f16234;
    transition: 0.25s ease-in-out;
}

label span:nth-child(1){
    top: 0;

}

label span:nth-child(2){
    top: 8px;
    
}

label span:nth-child(3){
    top: 16px;
    
}

#checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;

}

#checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;

    
}

#checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(+45deg);
    top: 8px;
}

